header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    
    .main-logo{
        height: 7.8rem;
        width: 7.8rem;
    }

    .main-nav{
        ul{
            display: flex;
            list-style: none;

            li{
                margin: 1rem 1.5rem;
            }
        }
    }
}