footer{
    background-color: #6f665f;
}

.footer-nav{
    color: #fff;
    padding: 75px 0px 0 0;
    border-bottom: 1px solid #fff;
    max-width: 800px;
    margin: auto;
    
    ul{
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        li{
            margin: 0 15px;
        }
    }
} 

.footer-logo{
    text-align: center;
    margin: 50px;

    img{
        height: 175px;
    }
}

.footer-items{
    display: flex;
    color: #fff;
    justify-content: space-between;
    padding: 0 50px 15px;
}