<footer>
    <div class="footer-nav">
        <nav>
            <ul>
                <li>Home</li>
                <li>About Us</li>
                <li>Gallery</li>
                <li>Contact Us</li>
            </ul>
        </nav>        
    </div>

    <div class="footer-logo">
        <a href="/"><img alt="HTJ Property Service Logo" src="\assets\images\HTJ-Logo.svg" /></a>
    </div>


    <div class="footer-items">
        <div class="copyright">
            <p>&copy;HTJ Proptery Services</p>
        </div>

        <div class="social-icons">
            <a href="https://www.facebook.com/HTJPropertyServices/" target="_blank"><mat-icon>facebook</mat-icon></a>
            <a href="https://www.instagram.com/htjpropertyservices/" target="_blank"><mat-icon>facebook</mat-icon></a>
        </div>

    </div>
</footer>