<footer>
    <div class="footer-nav">
        <nav>
            <ul>
                <li><a href="/" >Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/gallery" >Gallery</a></li>
                <li><a href="/contact" >Contact Us</a></li>
            </ul>
        </nav>        
    </div>

    <div class="footer-logo">
        <a href="/"><img loading="lazy" alt="HTJ Property Service Logo" src="\assets\images\HTJ-Logo.svg" /></a>
    </div>


    <div class="footer-items">
        <div class="copyright">
            <p>&copy;HTJ Proptery Services</p>
        </div>

        <app-social-icons></app-social-icons>
    </div>
</footer>